@charset "utf-8";

body {
background-image: url('../images/linentile.jpg');
background-repeat: repeat;
}

a:link {color: #811417; text-decoration: none;}
a:hover {color: #14817E; text-decoration: none;}
a:active {color: #14817E; text-decoration: none;}
a:visited {color: #811417; text-decoration: none;}

@font-face {
    font-family: 'avalonregular';
    src: url('avalon-webfont.eot');
    src: url('avalon-webfont.eot?#iefix') format('embedded-opentype'),
         url('avalon-webfont.woff') format('woff'),
         url('avalon-webfont.ttf') format('truetype'),
         url('avalon-webfont.svg#avalonregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'copperplate_condensed_ssiCn';
    src: url('copperplate-webfont.eot');
    src: url('copperplate-webfont.eot?#iefix') format('embedded-opentype'),
         url('copperplate-webfont.woff') format('woff'),
         url('copperplate-webfont.ttf') format('truetype'),
         url('copperplate-webfont.svg#copperplate_condensed_ssiCn') format('svg');
    font-weight: normal;
    font-style: normal;

}

.headerTop {
	font-family: 'avalonregular', helvetica;
	font-size: 85px;
	text-decoration: none;
	line-height: 60px;
	color: #811417;
	margin: 40px 0 5px 0;
}

.headerMiddle {
	font-family: 'copperplate_condensed_ssiCn', Times;
	font-size: 23px;
	letter-spacing: 3px;
	line-height: 24px;
	color: #000;
	font-weight: bold;
}

.headerBottom {
	font-family: 'avalonregular', helvetica;
	font-size: 31px;
	text-decoration: none;
	line-height: 28px;
	color: #555;
	}
p {
	font-family: Arial, Helvetica, Times;
	font-size: 17px;
	line-height: 18px;
	color: #000;
	text-decoration: none;
}

.indent {text-indent:40px;}

h1 {
	font-family: Arial, Helvetica, Times;
	font-size: 25px;
	line-height: 22px;
	color: #811417;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, Times;
	font-size: 20px;
	line-height: 21px;
	color: #811417;
	text-decoration: none;
	text-wrap: normal;
}

ul {
	background:none;
	color:#000;
}


ul li {
	list-style:none;
	font-family: Arial, Helvetica, Times;;
	font-size: 17px;
	padding-right: 80px;
}

.navwrap {
	width: 920px;
	position: absolute;
	left: 50%;
	margin-left: -460px;
	border-bottom-style: solid; 
	border-bottom-width: 3px;
	}

.navigation {
	font-family: 'copperplate_condensed_ssiCn', serif;
	font-size: 25px;
	line-height: 30px;
	color: #811417;
	text-decoration: none;
	font-weight: bold;
	width: 230px;
	text-align: center;
	float: left;
}


.navigation:hover {
	font-family: 'copperplate_condensed_ssiCn', serif;
	font-size: 25px;
	line-height: 30px;
	color: #14817E;
	text-decoration: none;
	font-weight: bold;
	width: 230px;
	float: left;
}

.navigation:active {
	font-family: 'copperplate_condensed_ssiCn', serif;
	font-size: 25px;
	line-height: 30px;
	color: #14817E;
	text-decoration: none;
	font-weight: bold;
	width: 230px;
	float: left;
}
	
.wrapper {
	width: 920px;
	position: absolute;
	left: 50%;
	margin-left: -460px;
	border-top-style: solid;
	border-top-width: 3px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	}

.content {
	padding: 35px 0 15px 0;
}

.lcolumn {
	width:350px;
	float: left;
}

.lcolumn2 {
	width:300px;
	float: left;
}

.rcolumn {
	width:550px;
	padding-left:350px
	}
	
.rcolumn2 {
	width:630px;
	padding-left:286px
	}

.footer {
	width: 920px;
	position: absolute;
	left: 50%;
	margin-left: -460px;
	bottom:0;
	border-top-style: solid;
	border-top-width: 3px;
	font-size: 13px;
	line-height:17px;
	}
	
	
.quotes {
	width: 920px;
	height: 60px;
	padding-top: 5px;
	text-align: center;
	color: #811417;
	font-weight: bold;
	}
	
.img {
	width: 300px;
	height: 201px;
	border: 4px solid #000;
	margin: 0px 20px 1px 20px;
	}
	
.img2 {
	width: 253px;
	height: 318px;
	border: 4px solid #000;
	margin: 0px 20px 1px 20px;
	}
	
.img3 {
	width: 300px;
	height: 225px;
	border: 4px solid #000;
	margin: 0px 20px 5px 20px;
	}
	
.intake {
	width: 500px;
	padding-left: 210px;
	}